<body onload="check();"></body>
<script>
    function check(){
        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code');
        const email = urlParams.get('email');
        console.log(code);
        console.log(email);
        fetch('/confirmEmail', {
            method: 'POST', // or 'PUT'
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify({code: code, email:email}),
            })
            .then(data => {
            console.log('Success:', data);
            
            })
            .catch((error) => {
            console.error('Error:', error);
            });
    }
</script>