URL<input id="urlInput">
Data<input id="siteData">
<button onclick="submit();">Submit</button>
<script>
    function submit(){
        console.log(document.getElementById('urlInput').value);
        const data = {
            url: document.getElementById('urlInput').value,
            siteData: document.getElementById('siteData').value
        }
        fetch('http://localhost:3000/createPage', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>