Email<input id='email'>
Passwort<input id='password'>
<button onclick="submit()">Submit</button>
<script>
    function submit(){
        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body:JSON.stringify({
                email: document.getElementById('email').value,
                password: document.getElementById('password').value
            }),
            mode: "cors"
        })
        .then(result => {
            let reader = result.body.getReader();
            reader.read().then(function processText({ done, value }) {
            if (done) return
            let string = new TextDecoder().decode(value);
            console.log(string);
            localStorage.setItem('accessToken', JSON.parse(string).accessToken);
            console.log(localStorage.getItem('accessToken'));
            return reader.read().then(processText);
            });
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>