Email<input id="email"><br/>
Passwort<input id='password'><br/>
page_url<input id="page_url">
<button onclick="submit()">Register</button>
<script>
    function submit(){
        fetch('http://localhost:3000/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                email: document.getElementById('email').value,
                page_url: document.getElementById('page_url').value,
                password: document.getElementById('password').value
            }),
        })
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>