<button onclick="getData()">Get</button>
<script>
    function getData(){
        fetch('http://d26k63xuikc78y.cloudfront.net'+window.location.pathname+'.json', {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'GET, POST',
            'mode': "cors"
            })
        .then(data => {
            console.log(data)
            let reader = data.body.getReader();
            reader.read().then(function processText({ done, value }) {
            if (done) {
                console.log('Stream complete');
                return;
            }
            var string = new TextDecoder().decode(value);
            console.log(string);
            document.body.innerHTML = string;
            return reader.read().then(processText);
            });
        });
    }
</script>